body {
  padding-top: 60px;
}

.container .grid {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  background-color: #373a3c;
}

.selected {
  border: 3px solid #FF4038;
}

.input-group {
  margin-bottom: 15px;
}